<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminCommon::head">
</head>
<body>
<div class="container-fluid position-relative bg-white d-flex p-0">

    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div th:replace="admin/adminCommon::sidebar(cur='edit')"></div>

    <div class="content">

        <div th:replace="admin/adminCommon::top"></div>

        <div class="col">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Type</h6>
                <div class="form-floating mb-3">
                    <input id="title" class="form-control">
                    <label for="title">Title</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Text" id="text"
                              style="height: 300px;"></textarea>
                    <label for="text">Text</label>
                </div>
                <button class="btn btn-primary w-100 mt-2" type="button" onclick="submit()">Submit</button>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="admin/adminCommon::js"></div>
<script>
    function submit(){
        var data = {}
        data.title = document.getElementById("title").value
        data.text = document.getElementById("text").value
        if (data.title === "" || data.text === ""){}
        console.log(data)
        $.ajax({
            url:"/api/upload-blog",
            xhrFields: {
                withCredentials: true
            },
            contentType:'application/json;charset=UTF-8',
            dataType:'JSON',
            data:JSON.stringify(data),
            type:"POST",
            success:function (r){
                if (r.status === 200){
                    alert("Success!")
                    location.reload()
                }else {
                    console.log(r)
                }
            }
        })
    }
</script>
</body>
</html>