<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminCommon::head">
</head>
<body>
<div class="container-fluid position-relative bg-white d-flex p-0">

    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div th:replace="admin/adminCommon::sidebar(cur='edit')"></div>

    <div class="content">

        <div th:replace="admin/adminCommon::top"></div>

        <div class="col">
            <div class="bg-light rounded h-100 p-4">
                <div class="row">
                    <h6 class="col-md-3">Modify</h6>
                    <button class="btn btn-primary w-25 m-2" type="button" th:data="${blog.getId()}" th:onclick="del(this.getAttribute('data'))">Delete</button>
                </div>
                <div class="form-floating mb-3">
                    <input id="title" class="form-control" th:value="${blog.getTitle()}">
                    <label for="title">Title</label>
                </div>
                <div class="form-control" id="editor">
                    <textarea style="display:none;" th:text="${blog.getText()}"></textarea>
                </div>
                <button class="btn btn-primary w-100 m-2" type="button" th:data="${blog.getId()}" th:onclick="modify(this.getAttribute('data'))">Submit</button>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="admin/adminCommon::js"></div>
<script th:src="@{/admin/editormd/editormd.min.js}"></script>
<script th:src="@{/admin/js/syeditor.js}"></script>
<script th:src="@{/admin/js/admin.blog.js}"></script>
<script>

</script>
</body>
</html>