<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/adminCommon::head">
</head>
<body>
<div class="container-fluid position-relative bg-white d-flex p-0">

    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div th:replace="commons/adminCommon::sidebar(cur='list')"></div>

    <div class="content">

        <div th:replace="commons/adminCommon::top"></div>

        <div class="container-fluid m-0 p-0">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Recent blog</h6>
                    <a href="">Show All</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                        <tr class="text-dark">
                            <th scope="col">Title</th>
                            <th scope="col">Upload Date</th>
                            <th scope="col">Last Modify Date</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody th:each="blog:${blogList}">
                        <tr>
                            <td th:text="${blog.getTitle()}"></td>
                            <td th:text="${@dateUtil.millisToFormatDate(blog.getUpTime())}"></td>
                            <td th:text="${@dateUtil.millisToFormatDate(blog.getModifyTime())}"></td>
                            <td><a th:href="'/admin/modify?id='+ ${blog.getId()}"
                                   class="btn btn-sm btn-primary">Detail</a>
                                <button th:data="${blog.getId()}" th:onclick="del(this.getAttribute('data'))"
                                        class="btn btn-sm btn-primary">Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row p-0 m-0">
                        <div class="col-md-4"></div>
                        <a th:class="${page == 1? 'btn btn-primary col-md-1 disabled' : 'btn btn-primary col-md-1'}"
                           type="button"
                           th:href="${page != 0 ?'/admin/list?page='+ (page - 1):''}" th:disabled="${page == 1}">Pre
                        </a>
                        <h6 th:text="${page}" class="col-md-2 text-center"></h6>
                        <a th:class="${page == maxPage? 'btn btn-primary col-md-1 disabled' : 'btn btn-primary col-md-1'}"
                           th:href="${page != maxPage ?'/admin/list?page='+ (page + 1):''}"
                           th:disabled="${page == maxPage}">Next</a>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<div th:replace="commons/adminCommon::js"></div>
<script>
    function del(id) {
        if (confirm("Confirm To Delete?")) {
            $.ajax({
                url: "/api/delete-blog?id=" + id,
                type: "POST",
                xhrFields: {
                    withCredentials: true
                },
                success: function (r) {
                    alert("Success!")
                    console.log(r)
                    location.reload()
                }
            })
        }

    }
</script>
</body>
</html>